#Headline {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
}

#Motivator {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: -25px;
}

#Starter {
    height: 50px;
    width: 150px;
    background-color: blue;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#Reseter {
    height: 50px;
    width: 150px;
    background-color: blue;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#AxieSelector {
    height: 50px;
    width: 150px;
    background-color: blue;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#Buttoncontainer {
    height: 55px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#Scoreboard {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 920px;
    margin-top: 20px;
}

#Spielfeld {
    width: 1024px;
    height: 576px;
    background-image: url("Images/duck_hunt_landscape_1024x576px.jpg");
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#Interaktionsfeld {
    position: relative;
    width: 1024px;
    height: 410px;
    background: transparent;
}

#Spieler1IMG {
    position: absolute;
    margin-left: 462px;
    margin-top: 470px;
    transform: rotate(20deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;    
}

#Projektil1 {
    position: absolute;
    width: 40px;
    height: 45px;
    background-image: url("Images/Risky_Attack_40x45px.PNG");
    left: 462px;
    bottom: 45px;  
    visibility: hidden;
}

#Projektil2 {
    position: absolute;
    width: 40px;
    height: 45px;
    background-image: url("Images/Risky_Attack_40x45px.PNG");
    left: 462px;
    bottom: 45px;  
    visibility: hidden;
}

#Projektil3 {
    position: absolute;
    width: 40px;
    height: 45px;
    background-image: url("Images/Risky_Attack_40x45px.PNG");
    left: 462px;
    bottom: 45px;  
    visibility: hidden;
}

.Gegner {
    width: 50px;
    height: 50px;
    visibility: hidden;
}

#Gegner1 {
    position: absolute;
    margin-left: -15px;
    margin-top: 360px;
    
}

#Gegner1IMG {
    transform: scaleX(-1);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

#Gegner2 {
    position: absolute;
    margin-left: 959px;
    margin-top: 360px;
}

#Gegner2IMG {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

.Ghost {
    width: 44px;
    height: 55px;
    position: absolute;

}

#Ghost1 {
    position: absolute;
    background-image: url("Images/Neo_Ghost.PNG");
    visibility: hidden;
    margin-left: 65px;
    margin-top: 70px; 
}

#Ghost2 {
    position: absolute;
    background-image: url("Images/Neo_Ghost_Rechts.png");
    visibility: hidden;
    margin-left: 65px;
    margin-top: 70px; 
}

#Muni1 {
    position: absolute;
    width: 40px;
    height: 45px;
    background-image: url("Images/Risky_Attack_40x45px.PNG");
    margin-left: 895px;
    margin-top: 525px;  
    visibility: visible;
}

#Muni2 {
    position: absolute;
    width: 40px;
    height: 45px;
    background-image: url("Images/Risky_Attack_40x45px.PNG");
    margin-left: 935px;
    margin-top: 525px;  
    visibility: visible;
}

#Muni3 {
    position: absolute;
    width: 40px;
    height: 45px;
    background-image: url("Images/Risky_Attack_40x45px.PNG");
    margin-left: 975px;
    margin-top: 525px; 
    visibility: visible;
}